.about .btn-style {
    padding: 10px 36px;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    outline: none;
    border: 2px solid #f50537;
    background: #f50537;
    transition: all 1.8s ease-in-out;
}
.about .btn-style:hover{
    background-color: #037ef3;
    border: 2px solid #037ef3;
    color: white;
}
.img-border{
    z-index: 3;
}
.position-relative{
    position: relative !important;
  
}
.img-border::after{
    content: '';
    position: absolute;
    border: 8px solid #eee;
    right: -25px;
    left: 25px;
    bottom: 25px;
    top: -25px;
    z-index: -1;
    border-radius: 10px;
}
.music-title{
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    padding: 30px 0px;
    color: black;
}
.music-title span{
    font-weight: 100;
}
.radius-image{
    border-radius: 10px !important;
}