* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .reg-form {
    background-color: white;
    height: auto;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 20px;
  }
  .title{
    position: relative;
  }
  .title::before{
    content: "";
    position: absolute;
    left: 100px;
    bottom: 15px;
    height: 3px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  h1 {
    text-align: center;
    padding: 20px;
  }
  .row {
    padding: 5px;
    display: flex;
  }
  .row-1 {
    padding: 5px;
    display: flex;
    position: relative;
  }
  .col {
    padding: 5px;
    flex: 1;
    text-align: right;
  }
  .col-1 {
    padding: 5px;
    flex: 2;
  }
  input[type="text"],
  [type="password"] {
    height: 25px;
    width: 255px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    padding: 5px;
    /* outline: none; */
  }
  
  .check-p {
    position: absolute;
    top: 15px;
    right: 58px;
  }
  
  select {
    height: 25px;
    width: 250px;
    border: 1px solid black;
  }
  .btn1 {
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    height: 50px;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .btn1:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }




  /* input[type="text"]:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
  } */
  
  p {
    color: red;
  }
  p label {
    color: black;
  }